<!DOCTYPE html>
<html>
<head>
  <title>Cheshire</title>
  <%= stylesheet_link_tag '_application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '_application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
